node_modules

/public/hot
/public/build
/basedoc/
/stubs/
/storage/
/.vscode/
/public/storage
/public/doc
/public/images
/public/uploads
/public/customerdesign
/public/bxslider
*.zip
*.rar
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
.env.testing
.phpunit.result.cache
